<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
    <title>Your City Weather</title>
</head>
<body>
    <div class="container">
    <form action="#" method="post">
        <input type="text" placeholder="Latitude">
        <input type="text" placeholder="Longitude">
        <button type="submit">Get Weather</button>
    </form>
    <div class="weatherDetails">
        <div class="timeZone">
            LoremTimeZone
        </div>
        <span class="details">Temperature (Celcius) : </span>
        <span class="details">Humidity : </span>
        <span class="details">Clouds : </span>
    </div>
</div>
</body>
</html>