<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
    <title>Your City Weather</title>
</head>
<body>
    <div class="container">
    <form action="/getweather" method="post">
        <input type="text" name="lat" placeholder="Latitude">
        <input type="text" name="lon" placeholder="Longitude">
        <button type="submit">Get Weather</button>
    </form>
    <div class="weatherDetails">
        {% if props[3] != "" %}
        <div class="timeZone">
            TimeZone : {{props[3]}}
        </div>
        <span class="details">Temperature (Celcius) : {{props[0]}}</span>
        <span class="details">Humidity : {{props[1]}} %</span>
        <span class="details">Clouds : {{props[2]}} %</span>
        {% endif %}
    </div>
</div>
</body>
</html>